@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbars while allowing scrolling */
::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none; /* Hide scrollbar for Internet Explorer, Edge */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}
